* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  form {
    padding: 30px 30px 5px 30px;
    border: 2px solid grey;
  }
  .container {
    max-width: 650px !important;
  }
  .col {
    margin-bottom: 25px;
  }
  .col .btn {
    float: right;
  }