* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#circle {
    display: flex;
    background: slateblue;
    color: white;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)3s;
    border-radius: 100%;
}
#circle:hover {
    transform: scale(3);
  }